.bg-purple{
    background: linear-gradient(180deg, #6f42c1, #845ef7);;
}
.nav-link.active{
    background-color: rgba(255,255,255,0.2);
    border-radius: 6px;
}
.list-group-item{
    border-radius: 12px;
    margin-bottom: 1rem;
    transition: transform 0.2s ease;
}
.list-group-item:hover{
    transform: translateY(-2px);
}
.status-pill {
    padding: 4px 10px;
    border-radius: 0.375rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: white;
}
.status-pill.Pending{
    background-color: #6c757d;
}
.status-pill.In-Process{
    background-color: lightblue;
    color: blue;
}
.status-pill.Complete{
    background-color: green;
    color: white;
}
#task-list {
    max-width: 90%;
    margin: 0 auto;
}